# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.python-version


.pytest_cache/
.coverage
htmlcov/
.nox/
.tox/

data/raw/*
!**/.gitkeep


*.log
logs/

.DS_Store
Thumbs.db

/data/.dvc
.dvc/config.local

.vscode/
.idea/
*.swp
*.swo


mlruns/